version: '3'

services:
  configserver:
    image: optima/config-server:0.0.1-SNAPSHOT
    ports:
      - "8071:8071"
    environment:
      - "SPRING_PROFILES_ACTIVE=native,git"
      - "ENCRYPT_KEY=IMSYMMETRIC"

  licensingservice:
    image: optima/optima-licensing-service:0.0.1-SNAPSHOT
    ports:
      - "8080:8080"
    environment:
      - "SPRING_PROFILES_ACTIVE=dev"
      - "SPRING_CLOUD_CONFIG_URI=http://localhost:8071"
      - "ENCRYPT_KEY=IMSYMMETRIC"

      # In a real run-time environment, we would reference the ENCRYPT_KEY as an
      # OS environment variable inside a Dockerfile.
